.details{
  width: 100%;
  padding: 0 1.5rem;
}
.details__header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details__title{
  padding: 0 0 1rem 0;
}
.details__title h1{
  font-size: 3rem;
  color: white;
  font-weight: bold;
  word-break: break-word;
}
.details__tags{
  display: flex;
  flex-wrap: wrap;
}
.details__tags .tag{
  margin: 0.2rem .2rem 0 0;
  background: #1c2d3e;
  color: white;
  font-size: .8rem;
}
.details__tags--link a{
  color: #90CAF9;
}
.details__tags--link a:hover{
  color: #fff;
}
.details__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.details__user-info a{
  color: #90CAF9;
}
.details__user-info a:hover{
  color: #fff;
}
.details__user-info--group{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  line-height: 0;
}
.details__user-info--avatar-blob{
  display: flex;
  align-items: center;
  margin-left: .5rem;
}
.details__user-info--avatar-blob img {
  width: 3rem;
  margin-right: .2rem;
  border-radius: 50%;
}
.details__user-info--name-blob{
  display: flex;
  align-items: center;
}
@media screen and(min-width: 500px){
  .details__title h1{
    font-size: 6rem;
  }
}
@media screen and (min-width: 980px){
  .details__header{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .details__title h1{
    font-size: 7rem;
    line-height: 9rem;
  }
  .details__user-info{
    margin-top: 0;
  }
  .details__user-info--avatar-blob{
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-left: .5rem;
  }
}