.details{
  width: 100%;
  padding: 0 1.5rem;
}
.details__header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details__title{
  padding: 0 0 1rem 0;
}
.details__title h1{
  font-size: 3rem;
  color: white;
  font-weight: bold;
  word-break: break-word !important;
}
.details__tags{
  display: flex;
  flex-wrap: wrap;
}
.details__tags .tag{
  margin: 0.2rem .2rem 0 0;
  background: #1c2d3e;
  color: white;
  font-size: .8rem;
}
.details__tags--link a{
  color: #90CAF9;
}
.details__tags--link a:hover{
  color: #fff;
}
.details__tags a.details__user{
  text-decoration: none;
}
a.details__user:hover{
  color: #90CAF9;
}
.details__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.details__user-info a{
  color: #90CAF9;
}
.details__user-info a:hover{
  color: #fff;
}
.details__user-info--group{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  line-height: 0;
}
.details__user-info--avatar-blob{
  display: flex;
  align-items: center;
  margin-left: .5rem;
}
.details__user-info--avatar-blob img {
  width: 3rem;
  margin-right: .2rem;
  border-radius: 50%;
}
.details__user-info--name-blob{
  display: flex;
  align-items: center;
}
.details__descriptions {
  padding: 1rem;
  margin: 0 0 1rem 0;
}
.details__description {
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  background: #3da9f90a;
  margin-bottom: 1rem;
  box-shadow: 0 0 0.3rem 0 #607D8B;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details__description:nth-child(odd) {
  border-radius: 0 0 1rem 1rem;
}
.description-divider{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}
.description-divider:before,
.description-divider:after{
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), #607d8b, transparent)
}
.description-divider:after{
  --direction: right;
}
.description__owner{
  margin-right: 2rem;
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description__owner a{
  display: flex;
  flex-direction: column;
}
.description__owner img{
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.description__owner--username{
  margin: .51rem 0;
}
.description__details{
  flex: 2;
}
.description__icons{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
}
.description__icons code{
  background-color: #bdbfc7;
  color: #091d31;
  font-size: .65rem;
  padding: .3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  @include media(350px){
    font-size: 1.1rem;
  }
}

.description__texts{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.description__owner-info{
  display: flex;
}
.description__owner-info > span{
  margin-right: .4rem;
}
span.description__owner-info--count{
  display: flex;
  justify-content: space-between;
}
.description__toggle-expansion{
  padding: .41rem;
  background-color: #f6fcffeb;
  color: #0b2339;
  width: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: -1.3rem;
  box-shadow: 0px 0px 7px 0px white;
  border-radius: 0 1rem;
}
.description__toggle-expansion--shrink{
  margin-top: 0;
  box-shadow: none;
  border-radius: 0;
}
.description__footer{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px){
  .details__description{
    flex-direction: column-reverse;
  }
  .details__description .description__owner{
    width: 3rem;
  }
}

@media screen and(min-width: 500px){
  .details__title h1{
    font-size: 6rem;
  }

}
@media screen and(min-width: 550px){
  .description__footer{
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 750px){
  .description__icons{
    flex-direction: row;
    display: flex;
  }
  .description__owner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description__owner img{
    margin-bottom: 0;
  }
  .description__owner--username{
    margin: 0;
  }
}
@media screen and (min-width: 980px){
  .details__header{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }w
  .details__title h1{
    font-size: 7rem;
    line-height: 9rem;
  }
  .details__user-info{
    margin-top: 0;
  }
  .details__user-info--avatar-blob{
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-left: .5rem;
  }
}