.search {
  padding: 1.3rem 2rem 1.3rem 4.7rem;
  //border: 5px solid #546f8973;
  border-radius: 2.25rem;
  -webkit-appearance: none;
  background: white url(http://buzz.loc/svg/search.svg) no-repeat 1.8rem 60%;
  color: #1c2d3e;
  height: 4rem;
  font-size: 1.8rem;
  margin: 0 auto;
  width: 76%;
  display: flex;
}

.search:focus, .search:hover{
  box-shadow: none;
  border: 5px solid #546f89;
}